## Load gold standard data

In [1]:
import pickle
import pandas as pd
from newsplease import NewsPlease

def load_obj(month, idx):
    month = str(month).zfill(2)
    idx = str(idx).zfill(5)
    with open("../data/texts/{}/{}.pkl".format(month, idx), "rb") as f:
        return pickle.load(f)
    
def load_dict(month):
    month = str(month).zfill(2)
    with open("../data/metadata/matching/{}.pkl".format(month), "rb") as f:
        return pickle.load(f)

In [2]:
gs = pd.read_csv('../data/gold-standard/gold_standard.csv')

gs_articles = {}

for i in range(len(gs)):
    article = load_obj(gs['month'][i], gs['ids'][i])
    gs_articles[i] = article

In [4]:
gs_articles[0]

## Load metadata for one gold standard

In [9]:
gs = pd.read_csv('../data/gold-standard/gold_standard.csv')
gs_sample = gs.iloc[1]

def match_metadata(gs_sample):
    month = str(gs_sample['month']).zfill(2)
    idx = gs_sample['ids']
    matching_dictionary = load_dict(month)
    print('This sample matches these rows in {}.csv: {}'.format(month, matching_dictionary[idx]))
    df = pd.read_csv("../data/metadata/variables/{}.csv".format(month))
    return df.iloc[matching_dictionary[idx]]
    
match_metadata(gs_sample)

This sample matches these rows in 08.csv: [21567, 21568]

/Users/arpitjain/anaconda3/envs/tm_env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (14,24,27,51) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Unnamed: 0,index,Unnamed: 0.1,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,...,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL,to_scrape,title
21567,21567,3964,100637,782166769,20180826,201808,2018,2018.6466,GOV,PRESIDENT,...,IN,IN13,17699.0,10.0,76.5,-2100307,20180826190000,https://www.thehindu.com/business/post-rains-p...,https://www.thehindu.com/business/post-rains-p...,post rains plantation sector tots up losses
21568,21568,3965,100638,782166770,20180826,201808,2018,2018.6466,GOV,PRESIDENT,...,IN,IN13,17699.0,10.0,76.5,-2100307,20180826190000,https://www.thehindu.com/business/post-rains-p...,https://www.thehindu.com/business/post-rains-p...,post rains plantation sector tots up losses